
/* style.css */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
justify: center;
  }
  
  #data {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  #data div {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 20px;
    width: 48%;
  }